body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  button {
    margin-bottom: 10px;
  }
  html {
    width: 300px;
    height: 150px;
  }
  ul {
    list-style-type: none;
    font-size: 12px;
}

#shortcutsTitle {
    font-weight: bold;
    font-size: 15px;
}